/.DS_Store
/app/management/config.php
/app/tpl/skins/Paint/client.php
/r63/external_variables.txt
/cache/avatars/
app/tpl/skins/Mango/
app/tpl/skins/Mango1/
app/tpl/skins/Mango22/
/nbproject/private/
/web-gallery/
/special/4-Housekeeping/
/cache/avatarhead/heads/